In [1]:
# importing all required libraries
import pandas as pd
import numpy as np
import time
import selenium
# importing selenium webdrivers
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
# importing required exceptions which needs to be handled
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import requests
from bs4 import BeautifulSoup

# Extracting data of 5000 or more used cars from websites like Olx, Cardekho, Cars24, etc.

We have to scrape data in following columns 1) Brand 2) model 3) variant 4) manufacturing year 5) driven kilometers 6) fuel 7) number of owners 8) location 9) Price ( which is our target variable)

This data is to give you a hint about important variables in used car model. You can make changes to it, you can add or you can remove some columns, it completely depends on the website from which you are fetching the data. Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan, Hatchback

In [2]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

C:\Users\Admin\AppData\Local\Temp/ipykernel_1332/3003815990.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [3]:
# lets scrape data from first website olx
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

Scraping data of cars in Delhi from olx:

In [4]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in delhi")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [5]:
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [6]:
# scraping data
brandname1=[]
model1=[]
variant1=[]
manufacturingyear1=[]
fuel1=[]
owner1=[]
location1=[]
price1=[]

In [7]:
 #Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear1.append(i.text)
except NoSuchElementException:
    manufacturingyear1.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname1.append(i.text)
        except NoSuchElementException:
            brandname1.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model1.append(i.text)
        except NoSuchElementException:
            model1.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant1.append(i.text)
        except NoSuchElementException:
            variant1.append("----")
       
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel1.append(i.text)
        except NoSuchElementException:
            fuel1.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner1.append(i.text)
        except NoSuchElementException:
            owner1.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location1.append(i.text)
        except NoSuchElementException:
            location1.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price1.append(i.text)
        except NoSuchElementException:
            price1.append("----")

In [8]:
# making dataframe of scraped data from olx
df1=pd.DataFrame(list(zip(brandname1,model1,variant1,manufacturingyear1,fuel1,owner1,location1,price1)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df1

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Honda City (2020),i-VTEC CVT ZX,AUTOMATIC,2020 - 12 km,PETROL,1st,"Mayur Vihar Phase 1, Delhi","₹ 14,27,376"
1,Audi Q5 (2015),2.0 TDI quattro Technology Pack,AUTOMATIC,"2015 - 32,000 km",DIESEL,1st,"Vasant Kunj, Delhi","₹ 28,50,000"
2,Maruti Suzuki Vitara Brezza (2016),ZDi Plus,MANUAL,"2016 - 57,000 km",DIESEL,1st,"Preet Vihar, Delhi","₹ 7,49,999"
3,Maruti Suzuki Swift Dzire (2014),VDI,MANUAL,"2014 - 70,000 km",DIESEL,Second,"Hari Nagar, Delhi","₹ 3,32,000"
4,Mahindra Scorpio (2012),2009-2014 VLX 2WD AIRBAG AT BSIV,AUTOMATIC,"2012 - 62,000 km",DIESEL,First,"Mehram Nagar, Delhi","₹ 4,00,000"
...,...,...,...,...,...,...,...,...
460,Renault Kiger (2021),RXZ,MANUAL,"2018 - 17,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 8,00,000"
461,Maruti Suzuki Swift Dzire (2009),VXI,MANUAL,"2011 - 55,932 km",PETROL,1st,"Jahangirpuri, Delhi","₹ 1,61,000"
462,Maruti Suzuki Wagon R 1.0 (2022),LXi CNG,MANUAL,"2009 - 70,000 km",CNG & HYBRIDS,1st,"Surajmal Vihar, Delhi","₹ 6,99,000"
463,Bmw X3 (2019),xDrive 20d Expedition,--,"2012 - 70,000 km",DIESEL,1st,"Saket, Delhi","₹ 32,00,000"
464,Maruti Suzuki Vitara Brezza (2020),VXI,MANUAL,"2019 - 33,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 8,70,000"

In [9]:
df1[['Brand','ModelName','mn_year']]=pd.DataFrame(df1.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])

In [10]:
df1[['Year','Kilometer']]=pd.DataFrame(df1.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])
df1

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price,Brand,ModelName,mn_year,Year,Kilometer
0,Honda City (2020),i-VTEC CVT ZX,AUTOMATIC,2020 - 12 km,PETROL,1st,"Mayur Vihar Phase 1, Delhi","₹ 14,27,376",Honda,City,(2020),2020,12 km
1,Audi Q5 (2015),2.0 TDI quattro Technology Pack,AUTOMATIC,"2015 - 32,000 km",DIESEL,1st,"Vasant Kunj, Delhi","₹ 28,50,000",Audi,Q5,(2015),2015,"32,000 km"
2,Maruti Suzuki Vitara Brezza (2016),ZDi Plus,MANUAL,"2016 - 57,000 km",DIESEL,1st,"Preet Vihar, Delhi","₹ 7,49,999",Maruti,Suzuki,Vitara Brezza (2016),2016,"57,000 km"
3,Maruti Suzuki Swift Dzire (2014),VDI,MANUAL,"2014 - 70,000 km",DIESEL,Second,"Hari Nagar, Delhi","₹ 3,32,000",Maruti,Suzuki,Swift Dzire (2014),2014,"70,000 km"
4,Mahindra Scorpio (2012),2009-2014 VLX 2WD AIRBAG AT BSIV,AUTOMATIC,"2012 - 62,000 km",DIESEL,First,"Mehram Nagar, Delhi","₹ 4,00,000",Mahindra,Scorpio,(2012),2012,"62,000 km"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Renault Kiger (2021),RXZ,MANUAL,"2018 - 17,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 8,00,000",Renault,Kiger,(2021),2018,"17,000 km"
461,Maruti Suzuki Swift Dzire (2009),VXI,MANUAL,"2011 - 55,932 km",PETROL,1st,"Jahangirpuri, Delhi","₹ 1,61,000",Maruti,Suzuki,Swift Dzire (2009),2011,"55,932 km"
462,Maruti Suzuki Wagon R 1.0 (2022),LXi CNG,MANUAL,"2009 - 70,000 km",CNG & HYBRIDS,1st,"Surajmal Vihar, Delhi","₹ 6,99,000",Maruti,Suzuki,Wagon R 1.0 (2022),2009,"70,000 km"
463,Bmw X3 (2019),xDrive 20d Expedition,--,"2012 - 70,000 km",DIESEL,1st,"Saket, Delhi","₹ 32,00,000",Bmw,X3,(2019),2012,"70,000 km"
464,Maruti Suzuki Vitara Brezza (2020),VXI,MANUAL,"2019 - 33,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 8,70,000",Maruti,Suzuki,Vitara Brezza (2020),2019,"33,000 km"

In [11]:
df1.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [12]:
df1=df1[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df1

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Honda,City,i-VTEC CVT ZX,AUTOMATIC,PETROL,12 km,1st,"Mayur Vihar Phase 1, Delhi",2020,(2020),"₹ 14,27,376"
1,Audi,Q5,2.0 TDI quattro Technology Pack,AUTOMATIC,DIESEL,"32,000 km",1st,"Vasant Kunj, Delhi",2015,(2015),"₹ 28,50,000"
2,Maruti,Suzuki,ZDi Plus,MANUAL,DIESEL,"57,000 km",1st,"Preet Vihar, Delhi",2016,Vitara Brezza (2016),"₹ 7,49,999"
3,Maruti,Suzuki,VDI,MANUAL,DIESEL,"70,000 km",Second,"Hari Nagar, Delhi",2014,Swift Dzire (2014),"₹ 3,32,000"
4,Mahindra,Scorpio,2009-2014 VLX 2WD AIRBAG AT BSIV,AUTOMATIC,DIESEL,"62,000 km",First,"Mehram Nagar, Delhi",2012,(2012),"₹ 4,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
460,Renault,Kiger,RXZ,MANUAL,PETROL,"17,000 km",1st,"New Rajdhani Enclave, Delhi",2018,(2021),"₹ 8,00,000"
461,Maruti,Suzuki,VXI,MANUAL,PETROL,"55,932 km",1st,"Jahangirpuri, Delhi",2011,Swift Dzire (2009),"₹ 1,61,000"
462,Maruti,Suzuki,LXi CNG,MANUAL,CNG & HYBRIDS,"70,000 km",1st,"Surajmal Vihar, Delhi",2009,Wagon R 1.0 (2022),"₹ 6,99,000"
463,Bmw,X3,xDrive 20d Expedition,--,DIESEL,"70,000 km",1st,"Saket, Delhi",2012,(2019),"₹ 32,00,000"
464,Maruti,Suzuki,VXI,MANUAL,PETROL,"33,000 km",1st,"New Rajdhani Enclave, Delhi",2019,Vitara Brezza (2020),"₹ 8,70,000"

Scraping data of cars in mumbai from olx:

In [13]:
driver.close()

In [17]:
# lets scrape data from first website olx
driver=webdriver.Chrome("chromedriver.exe")
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

C:\Users\Admin\AppData\Local\Temp/ipykernel_1332/1742308839.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [18]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in mumbai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [19]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [20]:
# scraping data
brandname2=[]
model2=[]
variant2=[]
manufacturingyear2=[]
fuel2=[]
owner2=[]
location2=[]
price2=[]

In [21]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear2.append(i.text)
except NoSuchElementException:
    manufacturingyear2.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname2.append(i.text)
        except NoSuchElementException:
            brandname2.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model2.append(i.text)
        except NoSuchElementException:
            model2.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant2.append(i.text)
        except NoSuchElementException:
            variant2.append("----")
       
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel2.append(i.text)
        except NoSuchElementException:
            fuel2.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner2.append(i.text)
        except NoSuchElementException:
            owner2.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location2.append(i.text)
        except NoSuchElementException:
            location2.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price2.append(i.text)
        except NoSuchElementException:
            price2.append("----")

In [22]:
# making dataframe of scraped data from olx
df2=pd.DataFrame(list(zip(brandname2,model2,variant2,manufacturingyear2,fuel2,owner2,location2,price2)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df2

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Maruti Suzuki Swift (2008),VDI,MANUAL,"2008 - 63,313 km",PETROL,1st,"Vile Parle East, Mumbai","₹ 2,55,000"
1,Hyundai Elite I20 (2017),Sportz 1.2,MANUAL,2017 - 20000.0 km,PETROL,1st,"Andheri East, Mumbai","₹ 6,15,000"
2,Mahindra Thar (2020),AX 4-STR Convertible MT,MANUAL,"2020 - 17,700 km",DIESEL,1st,"Bandra West, Mumbai","₹ 16,51,000"
3,Mercedes-Benz V-Class (2004),LWB,AUTOMATIC,"2004 - 120,000 km",DIESEL,Third,"Ushma Nagar, Mumbai","₹ 4,00,000"
4,Maruti Suzuki Swift Dzire (2011),1.2 Vxi BSIV,MANUAL,"2011 - 50,000 km",PETROL,First,"Bhayandar East, Mumbai","₹ 3,50,000"
...,...,...,...,...,...,...,...,...
473,Mercedes-Benz Gle Class (2019),250d,AUTOMATIC,"2012 - 37,000 km",DIESEL,1st,"Bandra West, Mumbai","₹ 62,40,000"
474,Mercedes-Benz Gls (2018),350d Grand Edition,AUTOMATIC,"2010 - 69,000 km",DIESEL,1st,"Bandra West, Mumbai","₹ 76,99,999"
475,Mercedes-Benz Glc Class (2020),Mercedes-Benz New C-Class Progressive C 200,AUTOMATIC,"2015 - 37,142 km",PETROL,1st,"Bandra West, Mumbai","₹ 54,89,999"
476,Mercedes-Benz Gls (2018),350d Grand Edition,AUTOMATIC,"2015 - 89,214 km",DIESEL,1st,"Bandra West, Mumbai","₹ 84,59,000"
477,Mercedes-Benz E-Class (2020),Exclusive E 200,AUTOMATIC,"2017 - 18,234 km",DIESEL,1st,"Bandra West, Mumbai","₹ 58,99,999"

In [23]:
df2[['Brand','ModelName','mn_year']]=pd.DataFrame(df2.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df2[['Year','Kilometer']]=pd.DataFrame(df2.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [24]:
df2.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [25]:
df2=df2[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df2

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Maruti,Suzuki,VDI,MANUAL,PETROL,"63,313 km",1st,"Vile Parle East, Mumbai",2008,Swift (2008),"₹ 2,55,000"
1,Hyundai,Elite,Sportz 1.2,MANUAL,PETROL,20000.0 km,1st,"Andheri East, Mumbai",2017,I20 (2017),"₹ 6,15,000"
2,Mahindra,Thar,AX 4-STR Convertible MT,MANUAL,DIESEL,"17,700 km",1st,"Bandra West, Mumbai",2020,(2020),"₹ 16,51,000"
3,Mercedes-Benz,V-Class,LWB,AUTOMATIC,DIESEL,"120,000 km",Third,"Ushma Nagar, Mumbai",2004,(2004),"₹ 4,00,000"
4,Maruti,Suzuki,1.2 Vxi BSIV,MANUAL,PETROL,"50,000 km",First,"Bhayandar East, Mumbai",2011,Swift Dzire (2011),"₹ 3,50,000"
...,...,...,...,...,...,...,...,...,...,...,...
473,Mercedes-Benz,Gle,250d,AUTOMATIC,DIESEL,"37,000 km",1st,"Bandra West, Mumbai",2012,Class (2019),"₹ 62,40,000"
474,Mercedes-Benz,Gls,350d Grand Edition,AUTOMATIC,DIESEL,"69,000 km",1st,"Bandra West, Mumbai",2010,(2018),"₹ 76,99,999"
475,Mercedes-Benz,Glc,Mercedes-Benz New C-Class Progressive C 200,AUTOMATIC,PETROL,"37,142 km",1st,"Bandra West, Mumbai",2015,Class (2020),"₹ 54,89,999"
476,Mercedes-Benz,Gls,350d Grand Edition,AUTOMATIC,DIESEL,"89,214 km",1st,"Bandra West, Mumbai",2015,(2018),"₹ 84,59,000"
477,Mercedes-Benz,E-Class,Exclusive E 200,AUTOMATIC,DIESEL,"18,234 km",1st,"Bandra West, Mumbai",2017,(2020),"₹ 58,99,999"

Scraping Data of cars in Chennai from olx:

In [26]:
driver.close()

In [27]:
# lets scrape data from first website olx
driver=webdriver.Chrome("chromedriver.exe")
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

C:\Users\Admin\AppData\Local\Temp/ipykernel_1332/1742308839.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [28]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in chennai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [29]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [30]:
# scraping data
brandname3=[]
model3=[]
variant3=[]
manufacturingyear3=[]
fuel3=[]
owner3=[]
location3=[]
price3=[]

In [31]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear3.append(i.text)
except NoSuchElementException:
    manufacturingyear3.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname3.append(i.text)
        except NoSuchElementException:
            brandname3.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model3.append(i.text)
        except NoSuchElementException:
            model3.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant3.append(i.text)
        except NoSuchElementException:
            variant3.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel3.append(i.text)
        except NoSuchElementException:
            fuel3.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner3.append(i.text)
        except NoSuchElementException:
            owner3.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location3.append(i.text)
        except NoSuchElementException:
            location3.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price3.append(i.text)
        except NoSuchElementException:
            price3.append("----")

In [32]:
# making dataframe of scraped data from olx
df3=pd.DataFrame(list(zip(brandname3,model3,variant3,manufacturingyear3,fuel3,owner3,location3,price3)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df3

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Hyundai Xcent (2018),Base 1.2,MANUAL,2018 - 25000.0 km,CNG & HYBRIDS,1st,"Nungambakkam, Chennai","₹ 4,30,000"
1,Hyundai Grand I10 (2018),1.2 CRDi Era,MANUAL,2018 - 45000.0 km,DIESEL,1st,"Chromepet New Colony, Chennai","₹ 4,10,000"
2,Toyota Corolla Altis (2015),1.8 VL CVT,AUTOMATIC,2015 - 105331.0 km,PETROL,2nd,"Villivakkam, Chennai","₹ 8,90,000"
3,Icml Rhino Rx (2007),DLX Double AC,AUTOMATIC,"2007 - 90,000 km",PETROL,Second,"Shanmugapuram Sivaparakasam Nagar, Chennai","₹ 3,80,000"
4,Mitsubishi Pajero (2008),2002-2012 2.8 SFX BSIII Dual Tone,MANUAL,"2008 - 140,000 km",DIESEL,Second,"Kattupakkam Vinayagapuram, Chennai","₹ 4,80,000"
...,...,...,...,...,...,...,...,...
448,Maruti Suzuki Swift Dzire (2015),VXI,MANUAL,"2017 - 61,000 km",PETROL,2nd,"Porur, Chennai","₹ 4,99,999"
449,Volkswagen Polo (2012),COMFORTLINE 1.2L DIESEL,MANUAL,"2013 - 80,000 km",DIESEL,2nd,"Perambur, Chennai","₹ 2,90,000"
450,Renault Triber (2019),RXZ,MANUAL,2018 - 50000.0 km,PETROL,1st,"Kattupakkam, Chennai","₹ 6,50,000"
451,Skoda Rapid (2012),1.5 TDI Ambition,MANUAL,2018 - 65000.0 km,DIESEL,1st,"Perambur, Chennai","₹ 3,25,000"
452,Maruti Suzuki Alto K10 (2011),LXI,MANUAL,"2011 - 45,000 km",PETROL,2nd,"Perambur, Chennai","₹ 1,89,999"

In [33]:
df3[['Brand','ModelName','mn_year']]=pd.DataFrame(df3.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df3[['Year','Kilometer']]=pd.DataFrame(df3.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [34]:
df3.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [35]:
df3=df3[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df3

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Hyundai,Xcent,Base 1.2,MANUAL,CNG & HYBRIDS,25000.0 km,1st,"Nungambakkam, Chennai",2018,(2018),"₹ 4,30,000"
1,Hyundai,Grand,1.2 CRDi Era,MANUAL,DIESEL,45000.0 km,1st,"Chromepet New Colony, Chennai",2018,I10 (2018),"₹ 4,10,000"
2,Toyota,Corolla,1.8 VL CVT,AUTOMATIC,PETROL,105331.0 km,2nd,"Villivakkam, Chennai",2015,Altis (2015),"₹ 8,90,000"
3,Icml,Rhino,DLX Double AC,AUTOMATIC,PETROL,"90,000 km",Second,"Shanmugapuram Sivaparakasam Nagar, Chennai",2007,Rx (2007),"₹ 3,80,000"
4,Mitsubishi,Pajero,2002-2012 2.8 SFX BSIII Dual Tone,MANUAL,DIESEL,"140,000 km",Second,"Kattupakkam Vinayagapuram, Chennai",2008,(2008),"₹ 4,80,000"
...,...,...,...,...,...,...,...,...,...,...,...
448,Maruti,Suzuki,VXI,MANUAL,PETROL,"61,000 km",2nd,"Porur, Chennai",2017,Swift Dzire (2015),"₹ 4,99,999"
449,Volkswagen,Polo,COMFORTLINE 1.2L DIESEL,MANUAL,DIESEL,"80,000 km",2nd,"Perambur, Chennai",2013,(2012),"₹ 2,90,000"
450,Renault,Triber,RXZ,MANUAL,PETROL,50000.0 km,1st,"Kattupakkam, Chennai",2018,(2019),"₹ 6,50,000"
451,Skoda,Rapid,1.5 TDI Ambition,MANUAL,DIESEL,65000.0 km,1st,"Perambur, Chennai",2018,(2012),"₹ 3,25,000"
452,Maruti,Suzuki,LXI,MANUAL,PETROL,"45,000 km",2nd,"Perambur, Chennai",2011,Alto K10 (2011),"₹ 1,89,999"

Scraping data of cars in Kolkatta from olx:

In [36]:
# lets scrape data from first website olx
driver=webdriver.Chrome("chromedriver.exe")
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

C:\Users\Admin\AppData\Local\Temp/ipykernel_1332/1742308839.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [37]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in kolkata")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [38]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [39]:
# scraping data
brandname4=[]
model4=[]
variant4=[]
manufacturingyear4=[]
fuel4=[]
owner4=[]
location4=[]
price4=[]

In [40]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear4.append(i.text)
except NoSuchElementException:
    manufacturingyear4.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname4.append(i.text)
        except NoSuchElementException:
            brandname4.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model4.append(i.text)
        except NoSuchElementException:
            model4.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant4.append(i.text)
        except NoSuchElementException:
            variant4.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel4.append(i.text)
        except NoSuchElementException:
            fuel4.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner4.append(i.text)
        except NoSuchElementException:
            owner4.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location4.append(i.text)
        except NoSuchElementException:
            location4.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price4.append(i.text)
        except NoSuchElementException:
            price4.append("----")

In [41]:
# making dataframe of scraped data from olx
df4=pd.DataFrame(list(zip(brandname4,model4,variant4,manufacturingyear4,fuel4,owner4,location4,price4)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df4

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Mahindra Marazzo (2020),M8 8Str,MANUAL,"2020 - 12,000 km",DIESEL,1st,"Hazra Road, Kolkata","₹ 10,75,000"
1,Honda Amaze (2018),VX Petrol,MANUAL,"2018 - 35,000 km",PETROL,1st,"Lansdown Road, Kolkata","₹ 5,49,999"
2,Mercedes-Benz E-Class (2011),2013-2015 E250 CDI Launch Edition,AUTOMATIC,2011 - 33000.0 km,DIESEL,1st,"Bidhannagar, Kolkata","₹ 14,50,000"
3,Tata Zest (2017),Quadrajet 1.3 75PS XE,MANUAL,"2017 - 160,000 km",DIESEL,First,"Sealdah, Kolkata","₹ 1,50,000"
4,Hyundai Eon (2018),1.0 Era Plus,MANUAL,"2018 - 50,000 km",PETROL,First,"Phoolbagan, Kolkata","₹ 1,25,000"
...,...,...,...,...,...,...,...,...
463,Jeep Compass (2017),2.0 Limited 4X4,MANUAL,"2015 - 76,000 km",DIESEL,1st,"Kalighat North East, Kolkata","₹ 12,49,111"
464,Mahindra Scorpio (2018),S11,MANUAL,"2013 - 57,316 km",DIESEL,1st,"Kalighat North East, Kolkata","₹ 12,99,111"
465,Hyundai Xcent (2015),1.2 VTVT S,MANUAL,"2015 - 700,135 km",PETROL,1st,"Saltlake Sector 1, Kolkata","₹ 3,49,991"
466,Honda City (2013),2014-2015 i VTEC S,MANUAL,"2010 - 36,000 km",PETROL,1st,"Kalighat North East, Kolkata","₹ 3,65,111"
467,Hyundai I10 (2011),Magna,MANUAL,"2017 - 13,000 km",PETROL,2nd,"Kalikapur, Kolkata","₹ 1,85,000"

In [42]:
df4[['Brand','ModelName','mn_year']]=pd.DataFrame(df4.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df4[['Year','Kilometer']]=pd.DataFrame(df4.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [43]:
df4.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [44]:
df4=df4[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df4

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Mahindra,Marazzo,M8 8Str,MANUAL,DIESEL,"12,000 km",1st,"Hazra Road, Kolkata",2020,(2020),"₹ 10,75,000"
1,Honda,Amaze,VX Petrol,MANUAL,PETROL,"35,000 km",1st,"Lansdown Road, Kolkata",2018,(2018),"₹ 5,49,999"
2,Mercedes-Benz,E-Class,2013-2015 E250 CDI Launch Edition,AUTOMATIC,DIESEL,33000.0 km,1st,"Bidhannagar, Kolkata",2011,(2011),"₹ 14,50,000"
3,Tata,Zest,Quadrajet 1.3 75PS XE,MANUAL,DIESEL,"160,000 km",First,"Sealdah, Kolkata",2017,(2017),"₹ 1,50,000"
4,Hyundai,Eon,1.0 Era Plus,MANUAL,PETROL,"50,000 km",First,"Phoolbagan, Kolkata",2018,(2018),"₹ 1,25,000"
...,...,...,...,...,...,...,...,...,...,...,...
463,Jeep,Compass,2.0 Limited 4X4,MANUAL,DIESEL,"76,000 km",1st,"Kalighat North East, Kolkata",2015,(2017),"₹ 12,49,111"
464,Mahindra,Scorpio,S11,MANUAL,DIESEL,"57,316 km",1st,"Kalighat North East, Kolkata",2013,(2018),"₹ 12,99,111"
465,Hyundai,Xcent,1.2 VTVT S,MANUAL,PETROL,"700,135 km",1st,"Saltlake Sector 1, Kolkata",2015,(2015),"₹ 3,49,991"
466,Honda,City,2014-2015 i VTEC S,MANUAL,PETROL,"36,000 km",1st,"Kalighat North East, Kolkata",2010,(2013),"₹ 3,65,111"
467,Hyundai,I10,Magna,MANUAL,PETROL,"13,000 km",2nd,"Kalikapur, Kolkata",2017,(2011),"₹ 1,85,000"

Scraping data of cars in Bangalore from olx:

In [45]:
# lets scrape data from first website olx
driver=webdriver.Chrome("chromedriver.exe")
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

C:\Users\Admin\AppData\Local\Temp/ipykernel_1332/1742308839.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [46]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in bengaluru")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [47]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [48]:
# scraping data
brandname5=[]
model5=[]
variant5=[]
manufacturingyear5=[]
fuel5=[]
owner5=[]
location5=[]
price5=[]

In [49]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear5.append(i.text)
except NoSuchElementException:
    manufacturingyear5.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname5.append(i.text)
        except NoSuchElementException:
            brandname5.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model5.append(i.text)
        except NoSuchElementException:
            model5.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant5.append(i.text)
        except NoSuchElementException:
            variant5.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel5.append(i.text)
        except NoSuchElementException:
            fuel5.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner5.append(i.text)
        except NoSuchElementException:
            owner5.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location5.append(i.text)
        except NoSuchElementException:
            location5.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price5.append(i.text)
        except NoSuchElementException:
            price5.append("----")

In [50]:
# making dataframe of scraped data from olx
df5=pd.DataFrame(list(zip(brandname5,model5,variant5,manufacturingyear5,fuel5,owner5,location5,price5)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df5

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Maruti Suzuki Sx4 (2010),2007-2012 Zxi with Leather BSIII,AUTOMATIC,"2010 - 93,000 km",PETROL,2nd,"Vijaya Nagar, Bengaluru","₹ 3,20,000"
1,Hyundai I10 (2010),Magna,MANUAL,"2010 - 76,712 km",PETROL,2nd,"Mahadevapura, Bengaluru","₹ 2,80,000"
2,Maruti Suzuki Swift (2018),AMT VDI,AUTOMATIC,"2018 - 34,000 km",DIESEL,1st,"Fraser town, Bengaluru","₹ 6,99,000"
3,Datsun Redigo (2018),1.0 T Option,MANUAL,"2018 - 14,000 km",PETROL,First,"Electronic City, Bengaluru","₹ 2,50,000"
4,Maruti Suzuki Omni (2012),Maruti Omni MPI STD BSIII 5-STR W/ IMMOBILISER,MANUAL,"2012 - 40,000 km",PETROL,First,"Machohalli, Bengaluru","₹ 2,38,000"
...,...,...,...,...,...,...,...,...
422,Hyundai Eon (2015),Era +,MANUAL,"2018 - 25,556 km",PETROL,2nd,"Vijay Nagar, Bengaluru","₹ 2,95,000"
423,Hyundai Elite I20 (2014),Sportz (O) 1.4,MANUAL,"2000 - 87,000 km",DIESEL,1st,"Sahakara Nagar, Bengaluru","₹ 5,90,000"
424,Tata Safari Storme (2014),EX,MANUAL,"2020 - 17,000 km",DIESEL,2nd,"Vijay Nagar, Bengaluru","₹ 6,10,000"
425,Maruti Suzuki Ertiga (2014),,MANUAL,2020 - 15592.0 km,DIESEL,1st,"Vijay Nagar, Bengaluru","₹ 6,95,000"
426,Mahindra Thar (2011),CRDE 4X4 BS IV,MANUAL,"2014 - 48,808 km",DIESEL,1st,"KR Puram, Bengaluru","₹ 6,85,000"

In [51]:
df5[['Brand','ModelName','mn_year']]=pd.DataFrame(df5.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df5[['Year','Kilometer']]=pd.DataFrame(df5.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [52]:
df5.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [53]:
df5=df5[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df5

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Maruti,Suzuki,2007-2012 Zxi with Leather BSIII,AUTOMATIC,PETROL,"93,000 km",2nd,"Vijaya Nagar, Bengaluru",2010,Sx4 (2010),"₹ 3,20,000"
1,Hyundai,I10,Magna,MANUAL,PETROL,"76,712 km",2nd,"Mahadevapura, Bengaluru",2010,(2010),"₹ 2,80,000"
2,Maruti,Suzuki,AMT VDI,AUTOMATIC,DIESEL,"34,000 km",1st,"Fraser town, Bengaluru",2018,Swift (2018),"₹ 6,99,000"
3,Datsun,Redigo,1.0 T Option,MANUAL,PETROL,"14,000 km",First,"Electronic City, Bengaluru",2018,(2018),"₹ 2,50,000"
4,Maruti,Suzuki,Maruti Omni MPI STD BSIII 5-STR W/ IMMOBILISER,MANUAL,PETROL,"40,000 km",First,"Machohalli, Bengaluru",2012,Omni (2012),"₹ 2,38,000"
...,...,...,...,...,...,...,...,...,...,...,...
422,Hyundai,Eon,Era +,MANUAL,PETROL,"25,556 km",2nd,"Vijay Nagar, Bengaluru",2018,(2015),"₹ 2,95,000"
423,Hyundai,Elite,Sportz (O) 1.4,MANUAL,DIESEL,"87,000 km",1st,"Sahakara Nagar, Bengaluru",2000,I20 (2014),"₹ 5,90,000"
424,Tata,Safari,EX,MANUAL,DIESEL,"17,000 km",2nd,"Vijay Nagar, Bengaluru",2020,Storme (2014),"₹ 6,10,000"
425,Maruti,Suzuki,,MANUAL,DIESEL,15592.0 km,1st,"Vijay Nagar, Bengaluru",2020,Ertiga (2014),"₹ 6,95,000"
426,Mahindra,Thar,CRDE 4X4 BS IV,MANUAL,DIESEL,"48,808 km",1st,"KR Puram, Bengaluru",2014,(2011),"₹ 6,85,000"

In [87]:
# assembeling all scrapped data into one dataframe and giving variable name data
df=pd.DataFrame()

In [88]:
df=df.append([df1,df2,df3,df4,df5],ignore_index=True)
df

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Honda,City,i-VTEC CVT ZX,AUTOMATIC,PETROL,12 km,1st,"Mayur Vihar Phase 1, Delhi",2020,(2020),"₹ 14,27,376"
1,Audi,Q5,2.0 TDI quattro Technology Pack,AUTOMATIC,DIESEL,"32,000 km",1st,"Vasant Kunj, Delhi",2015,(2015),"₹ 28,50,000"
2,Maruti,Suzuki,ZDi Plus,MANUAL,DIESEL,"57,000 km",1st,"Preet Vihar, Delhi",2016,Vitara Brezza (2016),"₹ 7,49,999"
3,Maruti,Suzuki,VDI,MANUAL,DIESEL,"70,000 km",Second,"Hari Nagar, Delhi",2014,Swift Dzire (2014),"₹ 3,32,000"
4,Mahindra,Scorpio,2009-2014 VLX 2WD AIRBAG AT BSIV,AUTOMATIC,DIESEL,"62,000 km",First,"Mehram Nagar, Delhi",2012,(2012),"₹ 4,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
2286,Hyundai,Eon,Era +,MANUAL,PETROL,"25,556 km",2nd,"Vijay Nagar, Bengaluru",2018,(2015),"₹ 2,95,000"
2287,Hyundai,Elite,Sportz (O) 1.4,MANUAL,DIESEL,"87,000 km",1st,"Sahakara Nagar, Bengaluru",2000,I20 (2014),"₹ 5,90,000"
2288,Tata,Safari,EX,MANUAL,DIESEL,"17,000 km",2nd,"Vijay Nagar, Bengaluru",2020,Storme (2014),"₹ 6,10,000"
2289,Maruti,Suzuki,,MANUAL,DIESEL,15592.0 km,1st,"Vijay Nagar, Bengaluru",2020,Ertiga (2014),"₹ 6,95,000"
2290,Mahindra,Thar,CRDE 4X4 BS IV,MANUAL,DIESEL,"48,808 km",1st,"KR Puram, Bengaluru",2014,(2011),"₹ 6,85,000"

In [89]:
# Saving file in excel format
df.to_excel('usedcardata.xlsx')

In [90]:
data=pd.read_excel('usedcardata.xlsx')
data

,Unnamed: 0,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,0,Honda,City,i-VTEC CVT ZX,AUTOMATIC,PETROL,12 km,1st,"Mayur Vihar Phase 1, Delhi",2020,(2020),"₹ 14,27,376"
1,1,Audi,Q5,2.0 TDI quattro Technology Pack,AUTOMATIC,DIESEL,"32,000 km",1st,"Vasant Kunj, Delhi",2015,(2015),"₹ 28,50,000"
2,2,Maruti,Suzuki,ZDi Plus,MANUAL,DIESEL,"57,000 km",1st,"Preet Vihar, Delhi",2016,Vitara Brezza (2016),"₹ 7,49,999"
3,3,Maruti,Suzuki,VDI,MANUAL,DIESEL,"70,000 km",Second,"Hari Nagar, Delhi",2014,Swift Dzire (2014),"₹ 3,32,000"
4,4,Mahindra,Scorpio,2009-2014 VLX 2WD AIRBAG AT BSIV,AUTOMATIC,DIESEL,"62,000 km",First,"Mehram Nagar, Delhi",2012,(2012),"₹ 4,00,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
2286,2286,Hyundai,Eon,Era +,MANUAL,PETROL,"25,556 km",2nd,"Vijay Nagar, Bengaluru",2018,(2015),"₹ 2,95,000"
2287,2287,Hyundai,Elite,Sportz (O) 1.4,MANUAL,DIESEL,"87,000 km",1st,"Sahakara Nagar, Bengaluru",2000,I20 (2014),"₹ 5,90,000"
2288,2288,Tata,Safari,EX,MANUAL,DIESEL,"17,000 km",2nd,"Vijay Nagar, Bengaluru",2020,Storme (2014),"₹ 6,10,000"
2289,2289,Maruti,Suzuki,NaN,MANUAL,DIESEL,15592.0 km,1st,"Vijay Nagar, Bengaluru",2020,Ertiga (2014),"₹ 6,95,000"
2290,2290,Mahindra,Thar,CRDE 4X4 BS IV,MANUAL,DIESEL,"48,808 km",1st,"KR Puram, Bengaluru",2014,(2011),"₹ 6,85,000"

In [1]:
# Importing Libraries/Dependencies
import selenium
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import time
from bs4 import BeautifulSoup
from selenium import webdriver 
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

# Scraping used car data from www.cardekho.com/

In [3]:
# Getting the webpage of mentioned url
url = "https://www.cardekho.com/used-cars+in+india#usedCarCity"
driver.get(url)
time.sleep(3)

In [4]:
# Fetching urls to navigate location page
cities = driver.find_elements_by_xpath("//ul[@class='listing gsc_col-md-12 gsc_col-lg-12']//li/a")

In [5]:
# Creating empty list and grtting links for locations
city = []
for i in cities:
    city.append(i.get_attribute('href'))

In [6]:
city

['https://www.cardekho.com/used-cars+in+ahmedabad',
 'https://www.cardekho.com/used-cars+in+bangalore',
 'https://www.cardekho.com/used-cars+in+mumbai',
 'https://www.cardekho.com/used-cars+in+jaipur',
 'https://www.cardekho.com/used-cars+in+gurgaon',
 'https://www.cardekho.com/used-cars+in+delhi-ncr',
 'https://www.cardekho.com/used-cars+in+chennai',
 'https://www.cardekho.com/used-cars+in+pune',
 'https://www.cardekho.com/used-cars+in+hyderabad',
 'https://www.cardekho.com/used-cars+in+kolkata',
 'https://www.cardekho.com/used-cars+in+agra',
 'https://www.cardekho.com/used-cars+in+lucknow']

In [7]:
# Creating empty lists for scraping data
Car_brand = []
car_price = []
kms_driven = []
fuel = []
transmission = []
city_url = []
car_urls = []

for i in city:
    driver.get(i)
    time.sleep(3)
    
    for _ in range(150):
        time.sleep(1)
        driver.execute_script("window.scrollBy(0,1000)")
    current_url = driver.current_url    
    car = driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in car:
        car_urls.append(i.get_attribute('href'))        # saving all the car urls for further information collecting purposes   
        
    # Fetching car brand and location urls of the used cars
    for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a"):
        Car_brand.append(i.text)
        city_url.append(current_url)
    
    # Fetching price of the cars
    for i in driver.find_elements_by_xpath("//span[@class='amnt ']"):
        car_price.append(i.text)
    
    # Fetching driven kilometers of the used cars
    for i in driver.find_elements_by_xpath("//div[@class='truncate dotlist-2']//div[1]"):
        kms_driven.append(i.text)
    
    # Fetching fuel type of the cars
    for i in driver.find_elements_by_xpath("//div[@class='truncate dotlist-2']//div[2]"):
        fuel.append(i.text)
    
    # Fetching transmission of the cars
    for i in driver.find_elements_by_xpath("//div[@class='truncate dotlist-2']//div[3]"):
        transmission.append(i.text)

In [8]:
# Printing length of car features to confirm
print(len(car_urls),len(Car_brand), len(city_url), len(car_price), len(kms_driven), len(fuel), len(transmission))

6597 7053 7053 7053 7053 7053 7053

We have got same length 10748 in all the columns.

In [9]:
# Creating empty list to scrap the specification of the used cars
seats = []
engine_disp = []
milage = []
color = []
max_power = []
front_brake = []
rear_brake = []
cargo_vol = []
height = []
width = []
length = []
weight = []
insp_score = []
top_speed = []

In [10]:
# for loop to get car urls
for i in car_urls:
    driver.get(i)
    time.sleep(2)
    
    # Clicking on view all specifications button to view more features of the cars
    try:
        view_more = driver.find_element_by_xpath("//*[text() = 'View All Specifications' or text() = 'View More']")
        driver.execute_script("arguments[0].scrollIntoView();", view_more)
        driver.execute_script("arguments[0].click();", view_more)
        time.sleep(2)
    except NoSuchElementException:
        pass
    
    # Fetching engine displacement of the cars
    try:
        eng = driver.find_element_by_xpath("//*[text()='Engine']/following-sibling::div") 
        engine_disp.append(eng.text.replace('CC',''))
    except NoSuchElementException:
        engine_disp.append('-')
    
    # Fetching Mileage of the cars
    try:
        mil = driver.find_element_by_xpath("//*[text()='Mileage']/following-sibling::div")
        milage.append(mil.text)
    except NoSuchElementException:
        milage.append('-')
        
    # Fetching seating capacity of the cars
    try:
        sts = driver.find_element_by_xpath("//*[text()='Seating Capacity']/following-sibling::div")
        seats.append(sts.text)
    except NoSuchElementException:
        seats.append('-')
        
    # Fetching colour of the cars
    try:
        clr = driver.find_element_by_xpath("//*[text()='Color']/following-sibling::div")
        color.append(clr.text)
    except NoSuchElementException:
        color.append('-')
        
    # Fetching Maximum power of the cars
    try:
        pwr = driver.find_element_by_xpath("//*[text()='Max Power']/following-sibling::div")
        max_power.append(pwr.text.replace('bhp',''))
    except NoSuchElementException:
        max_power.append('-')
        
    # Fetching Front brake type of the cars
    try:
        fbrk = driver.find_element_by_xpath("//*[text()='Front Brake Type']/following-sibling::div")
        front_brake.append(fbrk.text)
    except NoSuchElementException:
        front_brake.append('-')
        
    # Fetching rear brake type of the cars
    try:
        rbrk = driver.find_element_by_xpath("//*[text()='Rear Brake Type']/following-sibling::div")
        rear_brake.append(rbrk.text)
    except NoSuchElementException:
        rear_brake.append('-')
        
    # Fetching details of cargo volume of the cars
    try:
        vol = driver.find_element_by_xpath("//*[text()='Cargo Volumn']/following-sibling::div")
        cargo_vol.append(vol.text)
    except NoSuchElementException:
        cargo_vol.append('-')
        
    # Fetching top speed of the cars
    try:
        speed = driver.find_element_by_xpath("//*[text()='Top Speed']/following-sibling::div")
        top_speed.append(speed.text)
    except NoSuchElementException:
        top_speed.append('-')
        
    # Fetching height of the cars
    try:
        hgt = driver.find_element_by_xpath("//*[text()='Height']/following-sibling::div")
        height.append(hgt.text.replace('mm',''))
    except NoSuchElementException:
        height.append('-')
        
    # Fetching width of the cars
    try:
        wth = driver.find_element_by_xpath("//*[text()='Width']/following-sibling::div")
        width.append(wth.text.replace('mm',''))
    except NoSuchElementException:
        width.append('-')
        
    # Fetching length of the cars
    try:
        lth = driver.find_element_by_xpath("//*[text()='Length']/following-sibling::div")
        length.append(lth.text.replace('mm',''))
    except NoSuchElementException:
        length.append('-')
        
    # Fetching gross weight of the cars
    try:
        weigh = driver.find_element_by_xpath("//*[text()='Gross Weight']/following-sibling::div")
        weight.append(weigh.text.replace('kg',''))
    except NoSuchElementException:
        weight.append('-')
        
    # Fetching Inspection score of the cars
    try:
        insp = driver.find_element_by_xpath("//div[@class='inspectionRating right-side gsc_col-xs-5 text-right']/span")
        insp_score.append(insp.text)
    except NoSuchElementException:
        insp_score.append('-')

In [11]:
# Printing lengths of all the features
print(len(seats),len(engine_disp),len(milage),len(color),len(max_power),len(front_brake),len(rear_brake),len(cargo_vol),len(height),len(width),len(length),len(weight),len(insp_score),len(top_speed))

6597 6597 6597 6597 6597 6597 6597 6597 6597 6597 6597 6597 6597 6597

All the features have same length

In [12]:
# Creating a dataframe of scraped data
data = list(zip(Car_brand,fuel,kms_driven,engine_disp,transmission,milage,seats,color,max_power,front_brake,rear_brake,cargo_vol,height,width,length,weight,insp_score,top_speed,city_url,car_price))
df = pd.DataFrame(data, columns = ["Car_Name","Fuel_type","Running_in_kms","Endine_disp", "Gear_transmission","Milage_in_km/ltr","Seating_cap","color","Max_power","front_brake_type","rear_brake_type","cargo_volume","height","width","length","Weight","Insp_score","top_speed","City_url","Car_price"])
df

,Car_Name,Fuel_type,Running_in_kms,Endine_disp,Gear_transmission,Milage_in_km/ltr,Seating_cap,color,Max_power,front_brake_type,rear_brake_type,cargo_volume,height,width,length,Weight,Insp_score,top_speed,City_url,Car_price
0,2021 Nissan Magnite,Petrol,"12,561 kms",999,Manual,20 kmpl,5,Storm White,98.63,Disc,Drum,336,1572,1758,3994,-,,-,https://www.cardekho.com/used-cars+in+ahmedabad,8.30 Lakh
1,2017 Maruti Baleno,Petrol,"49,249 kms",1197,Manual,21.4 kmpl,5,Blue,83.1,Disc,Drum,339-litres,1510,1745,3995,1340,,180 Kmph,https://www.cardekho.com/used-cars+in+ahmedabad,5.88 Lakh
2,2015 Maruti Wagon R,Petrol,"56,897 kms",998,Manual,20.51 kmpl,5,White,67.04,Ventilated Disc,Drum,180-liters,1700,1495,3599,1350,,152 kmph,https://www.cardekho.com/used-cars+in+ahmedabad,3.16 Lakh
3,2021 Renault KWID,Petrol,"4,491 kms",799,Manual,22.25 kmpl,5,Moonlight Silver,53.26,Disc,Drum,279,1490,1579,3731,-,,-,https://www.cardekho.com/used-cars+in+ahmedabad,4.40 Lakh
4,2017 Jeep Compass,Diesel,"58,463 kms",1956,Manual,17.1 kmpl,5,Exotic Red,173,Disc,Discs,408-litres,1640,1818,4395,-,,-,https://www.cardekho.com/used-cars+in+ahmedabad,12.40 Lakh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6592,2016 Maruti Swift Dzire,Diesel,"63,327 kms",796,Manual,16.1 kmpl,4,White,37,Disc,Drum,-,1405,1440,3335,1000,-,144km/hr,https://www.cardekho.com/used-cars+in+agra,4.87 Lakh
6593,2019 Mahindra Bolero Power Plus,Diesel,"61,553 kms",1405,Manual,19.4 kmpl,5,White,70,Disc,Drum,232-litre,1550,1695,3795,-,-,-,https://www.cardekho.com/used-cars+in+agra,7.32 Lakh
6594,2011 Volkswagen Polo,Petrol,"53,877 kms",999,Manual,-,5,Black,-,-,-,-,-,-,-,-,-,-,https://www.cardekho.com/used-cars+in+agra,2.35 Lakh
6595,2019 Mahindra XUV300,Petrol,"34,612 kms",1582,Manual,19.67 kmpl,5,-,126.2,Disc,Drum,400-litres,1630,1780,4270,-,-,190 Kmph,https://www.cardekho.com/used-cars+in+agra,8.22 Lakh
6596,2014 Maruti Swift Dzire,Diesel,"68,320 kms",796,Manual,-,5,Other,47.33,Disc,Drum,-,1475,1490,3445,1185,-,-,https://www.cardekho.com/used-cars+in+agra,4.05 Lakh

In [13]:
# Saving the scraped data into excel file
df.to_excel("Used_Cars.xlsx")

Finally we have scraped old cars data for important features from the mentioned website.